.appointment-section {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.appointment-container {
    max-width: 80%;
    margin: 0px auto auto;
    color: rgba(0, 0, 0, 0.87);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    z-index: 1;
    padding: 10px 10px 25px;
}

.appointment-button {
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    z-index: 1;
    background-color: transparent;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    width: 100%;
}

.appointment-sub-title {
    height: 64px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 500;
}

.appointment-circle-format {
    display: block;
    color: #F692BC;
    fill: #F692BC;
    height: 24px;
    width: 24px;
    user-select: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    font-size: 24px;
}

svg:not(:root) {
    overflow: hidden;
}

.appointment-circle {
    padding-right: 8px;
}

.appointment-date {
    font-size: 16px;
    line-height: 24px;
    width: 256px;
    height: 72px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    font-family: Roboto, sans-serif;
    transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    cursor: auto;
}

.appointment-date-format {

}

.appointment-date-container {
    margin-top: 10px;
    margin-left: 10px;
}

.appointment-format {
    font-size: 16px;
    width: 256px;
    height: 48px;
    position: relative;
}

.appointment-date-select {
    position: absolute;
    opacity: 0;
}

.appointment-date-control {
    padding: 0px;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.87);
    cursor: inherit;
    font: inherit;
    opacity: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}

.appointment-date-hr1 {
    border-top: none rgb(224, 224, 224);
    border-left: none rgb(224, 224, 224);
    border-right: none rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    bottom: 8px;
    box-sizing: content-box;
    margin: 0px;
    position: absolute;
    width: 100%;
}

.appointment-date-hr2 {
    border-top: none rgb(0, 188, 212);
    border-left: none rgb(0, 188, 212);
    border-right: none rgb(0, 188, 212);
    border-bottom: 2px solid rgb(0, 188, 212);
    bottom: 8px;
    box-sizing: content-box;
    margin: 0px;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.appointment-space {
    flex: 1 1 auto;
    margin-left: 25px;
}

.appointment-space-after-item {
    display: block;
    border-color: rgb(189, 189, 189);
    border-left-style: solid;
    border-left-width: 1px;
    min-height: 28px;
}

.appointment-radio-buttons {
    margin-top: 15px;
    margin-left: 15px;
}

.appointment-radio-button-container {
    cursor: pointer;
    position: relative;
    overflow: visible;
    display: inherit;
    height: auto;
    width: 100%;
    margin-bottom: 15px;
}

.appointment-radio-button-item {
    position: absolute;
    cursor: inherit;
    pointer-events: all;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.appointment-space-label-1 {
    display: flex;
    width: 100%;
    height: 100%;
}

.appointment-space-label-2 {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    float: left;
    position: relative;
    display: block;
    flex-shrink: 0;
    width: 24px;
    margin-right: 16px;
    margin-left: 0px;
    height: 24px;
}

.appointment-space-label-3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.appointment-svg-exterior {
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    fill: rgba(0, 0, 0, 0.87);
    height: 24px;
    width: 24px;
    user-select: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    opacity: 1;
    transform: scale(1);
}

.appointment-svg-interior {
    display: inline-block;
    color: rgba(0, 0, 0, 0.87);
    fill: rgb(0, 188, 212);
    height: 24px;
    width: 24px;
    user-select: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    opacity: 1;
    transform: scale(0);
    transform-origin: 50% 50%;
}

.appointment-label-format {
    float: left;
    position: relative;
    display: block;
    width: calc(100% - 60px);
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, sans-serif;
}

.appointment-radio-button-mask-1 {
    margin-top: -14px;
    margin-left: 25px;
    padding-left: 21px;
    padding-right: 16px;
    overflow: hidden;
    border-left: 1px solid rgb(189, 189, 189);
}

.appointment-radio-button-mask-2 {
    position: relative;
    overflow: hidden;
    height: auto;
}

.appointment-radio-button-mask-3 {
    position: relative;
    height: auto;
    width: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    transition: height 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}